body{
    background-color: rgb(44, 26, 63);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    padding: 20px;
    background-color: rgb(69, 3, 75);
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

details{
    background-color: blueviolet;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

summary{
    background-color: rgb(44, 26, 63);
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}