{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/svg" href="{% static 'images/logo.svg' %}">
    <title>{% block title %}Inversion Optima{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
    <script src="{% static 'js/tabs.js' %}"></script>
    
</head>
<body>
  <header>
    <div class="header-top">
      <div class="logo" style="border-radius: 20px; border-color: antiquewhite;">
        <img src="{% static 'images/logo.svg' %}" alt="logo" width="128px">
        <h1 style="color: white;">Inversión <br>Óptima</h1>
      </div>

      <div class="header-menu">
        <div class="search">
          <input type="text" placeholder="Buscar...">
          <button>
            <img src="{% static 'images/lupa.svg' %}" alt="lupa" width="16px">
          </button>
        </div>
        <div class="user-options">
          <a href="#login">Iniciar Sesión</a>
          <a href="#register">Registrarse</a>
        </div>
      </div>
    </div>
    </header>
    <nav>
      <a href="{% url 'fic_benchmark:index' %}">Inicio</a>
      <a href="{% url 'fic_benchmark:statistics' %}">Comparativa</a>
      <a href="{% url 'fic_benchmark:indicators' %}">Indicadores</a>
      <a href="{% url 'fic_benchmark:fund_statistics' %}">Estadisticas</a>
      <a href="{% url 'fic_benchmark:acerca-de' %}">Acerca de</a>
      <!--  p> -- espacio -- </p -->
      <button id="dark-mode-toggle" class="split">Dark Mode</button>
    </nav>
    <script src="{% static 'fic_benchmark/theme_toggle.js' %}"></script>
    <script src="{% static 'fic_benchmark/draw_charts.js' %}"></script>
    <div id="container">
      <div id="content" style="width:90%">
        {% block container %}
        <!-- Contenido por defecto que puede ser sobrescrito -->
        {% endblock %}
      </div>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        {% block extra_js %}{% endblock %}
    </div>
    <hr>
    <footer>
      <div class="footer-container" style="width: 90%;">
        <div class="footer-info">
          <p>&copy; 2024 Inversion Optima. Todos los derechos reservados.</p>
          <p>Contacto: <a href="mailto:{{email}}">{{email}}</a></p>
          <div class="footer-social">
            <a href="https://www.linkedin.com" target="_blank">
              <img src="{% static 'images/linkedin.svg' %}" alt="linkedin-logo" width="20px" style="align-items: center;">
            </a>
            <a href="https://www.facebook.com" target="_blank">
              <img src=" {% static 'images/facebook.svg' %}" alt="facebook-logo" width="20px" style="align-items: center;">
            </a>
            <a href="https://www.twitter.com" target="_blank">
              <img src="{% static 'images/twitter.svg' %}" alt="twitter-logo" width="20px" style="align-items: center;">
            </a>
          </div>
        </div>
        
        <div class="footer-nav">
          <ul>
            <li><a href="{% url 'fic_benchmark:acerca-de' %}">Acerca de</a></li>
            <li><a href="{% url 'fic_benchmark:terminos-y-condiciones' %}">Términos y Condiciones</a></li>
            <li><a href="{% url 'fic_benchmark:politicas-de-privacidad' %}">Política de Privacidad</a></li>
            <li><a href="{% url 'django.contrib.sitemaps.views.sitemap' %}">Mapa del Sitio</a></li>
          </ul>
        </div>
        
      </div>
      </footer>
      <script src="{% static 'js/scroll_to_top.js' %}"></script>
</body>
</html>
